.Calculator{
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-color: #fce4ec;
}
.Calculator .OWave,
.Calculator .TWave,
.Calculator .ThWave,
.Calculator .FWave{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50% 50% 0 0;
}
.Calculator .OWave{
    left: -12%;
    bottom: -18%;
    transform: rotate(45deg);
    background-color: #a5a5a5;
}
.Calculator .TWave {
    left: -14%;
    bottom: -20%;
    transform: rotate(45deg);
    background: linear-gradient(to top, #e91e63, #f8bbd0);
}
.Calculator .ThWave {
    right: -12%;
    top: -18%;
    transform: rotate(-140deg);
    background-color: #a5a5a5;
}
.Calculator .FWave {
    right: -14%;
    top: -20%;
    transform: rotate(-140deg);
    background: linear-gradient(to top, #e91e63, #f8bbd0);
}
.Calculator .container{
    width: 300px;
    border: none;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    background-color: #ff7ec8;
}
.Calculator .container .input{
    height: 50px;
    display: flex;
    overflow: auto;
    font-size: 26px;
    margin: 0 0 10px 0;
    border-radius: 8px;
    align-items: center;
    padding: 0 20px 0 0;
    background-color: #fff;
    justify-content: flex-end;
}
.Calculator .container .row{
    display: flex;
}
.Calculator .container .row button{
    border: 0;
    width: 70px;
    height: 40px;
    margin: 10px;
    font-size: 24px;
    transition: 0.5s;
    font-family: serif;
    border-radius: 8px;
    position: relative;
    background-color: #fff;
}

.Calculator .container .row button:hover{
    color: #fff;
    cursor: pointer;
    background-color: #ff00bf33;
}